{% extends 'base.html' %}

{% block content %}

<div class="glass-card form-card">

    <h2>Edit Barang</h2>

    <form method="POST">

        <input type="text"
               name="nama_barang"
               value="{{ item.nama_barang }}"
               required>

        <input type="text"
               name="kategori"
               value="{{ item.kategori }}"
               required>

        <input type="number"
               name="jumlah"
               value="{{ item.jumlah }}"
               required>

        <input type="text"
               name="lokasi"
               value="{{ item.lokasi }}"
               required>

        <button type="submit"
                class="btn">
            Update
        </button>

    </form>

</div>

{% endblock %}