{% extends 'base.html' %}

{% block content %}

<div class="glass-card">

    <h2>Preview Export PDF</h2>

    <div class="preview-box">

        <h3>SHA-256 Hash</h3>
        <p class="hash-text">
            {{ data.hash }}
        </p>

        <h3>Digital Signature</h3>
        <p class="signature-text">
            {{ data.signature[:150] }}...
        </p>

        <h3>Timestamp</h3>
        <p>
            {{ data.timestamp }}
        </p>

        <h3>QR Code</h3>

        <img src="{{ url_for('static',
        filename='qr/hash_qr.png') }}"
        alt="QR Code"
        class="qr-image">

        <br><br>

        <a href="{{ url_for('download_pdf') }}"
           class="btn">
            Download PDF
        </a>

    </div>

</div>

{% endblock %}